/* ### begin: VARIABLES SCSS - style.scss partial ### */

// base colors
$lightGrey: #eee;
$mediumGrey: #aaa;
$darkGrey: #555;

// font sizes
$fontsizeXS: 0.8rem;
$fontsizeS: 1rem;
$fontsizeM: 1.2rem;
$fontsizeL: 1.6rem;
$fontsizeXL: 2rem;
$fontsizeXXL: 2.4rem;
$fontsize3XL: 3rem;

// paddings
$paddingXS: 0.5rem;
$paddingS: 1rem;
$paddingM: 1.5rem;
$paddingL: 2rem;
$paddingXL: 2.5rem;
$paddingXXL: 3rem;
$padding3XL: 3.5rem;

// margins
$marginXS: 0.5rem;
$marginS: 1rem;
$marginM: 1.5rem;
$marginL: 2rem;
$marginXL: 2.5rem;
$marginXXL: 3rem;
$margin3XL: 3.5rem;

/* ### end: VARIABLES SCSS - style.scss partial ### */